.header {
    display: flex;
    justify-content:space-around;
}

.to-do-list {
    font-family: 'Monoton', cursive;
    font-size: 30px;
    margin-left: 0px;
    margin-right: 10px;
    color: rgb(133, 133, 241);
}

.counter {
    margin-top: 12px;
    color: rgb(53, 53, 240);
    
}